@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url("cube.css");
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root
{
	--light : #dfdfdf;
	--lighter : #b6b6b6;
	--darker : #828282;
	--dark : #555555;
}
ul
{
	flex-wrap: wrap;
	list-style: none;
}
.btn,input
{
	font-family: 'Roboto Mono', monospace;
	border: none;
}
input{
	width: 100px;
	padding-left: .5rem;
	border-radius: 5px;
}
.btn
{
	padding: .5rem 1.5rem;
	border-radius: 30px;
	cursor: pointer;
	font-weight: 900;
}
.btn:hover
{
	background-color: var(--darker);
}
.btn:active
{
	color: var(--light);
	background-color: var(--dark);
}
section{
	margin: 3rem 0;
}
main{
	border: 1px solid black;
	width: 60%;
}
.container{
	background-color: var(--light);
}
.manual_generator,.auto_generator,.displayer{
	background-color: var(--lighter);
	width: 100%;
}
.insider
{
	margin-top: 2rem;
	width: 100%;
	gap: 2rem;
}
@media screen and (max-width: 1600px) {
	.insider{
		flex-direction: column;
	}
}
.displayer
{
	margin-top: 2rem;
}
.displayer li
{
	padding: .5rem;
	border: 1px solid;
	border-radius: 5px;
	background-color: var(--darker);
	color: var(--light);
	margin: .4rem;
}